<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="photo"><img style="height:75px; width: 40px" src="../assets/yuka.jpeg"></div>
  <a class="navbar-brand" href="#">Yukas Greatest Hits</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<p>intro</p>
<div class="phrases">
  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')">Guard</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >Torpedoes</button> 
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >Snowflake</button>
  </div>
  
  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >5/6</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >Tequilaaaa</button>
  </div>
  
  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >Rules</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >Gobshite</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >Stupid Prick</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >Only messing</button>  
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >Oh no</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >Its Happening Again</button>
  </div>
  
  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >U N I T E D</button> 
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >Weights</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >You know what</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >Blind</button> 
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >BOLGER</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >Zuuuuuuuuu</button> 
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >Yesssssssss</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >Main Man</button> 
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >For that Reason</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >Main Man</button> 
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase('../assets/tilltherewasyou.m4a')" >For that Reason</button>
  </div>


 
  
</div>