<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="photo"><img style="height:75px; width: 40px" src="../assets/yuka.jpeg"></div>
  <a class="navbar-brand" href="#">Yukas Greatest Hits</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<p>intro</p>
<div class="phrases">
  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase()">Guard</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase()" >Torpedoes</button> 
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase()" >Snowflake</button>
  </div>
  
  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase()" >5/6</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase()" >Tequilaaaa</button>
  </div>
  
  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase()" >Rules</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase()" >Gobshite</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase()" >Stupid Prick</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase()" >Only messing</button>  
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase()" >Oh no</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase()" >Its Happening Again</button>
  </div>
  
  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase()" >U N I T E D</button> 
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase()" >Weights</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase()" >You know what</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase()" >Blind</button> 
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase()" >BOLGER</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase()" >Zuuuuuuuuu</button> 
  </div>

  <div class="container">
    <button class="btn btn-danger" (click)="playPhrase()" >Yesssssssss</button>
  </div>
 
  
</div>