<div class="nav-bar">
  <p>Yukas Greatest Hits</p>
</div>
<div class="header">
  <p>Yuka Photo</p>
  <p>Intro....</p>
</div>
<div class="phrases">
  <div class="container">
    <button class="btn btn-danger" >Guard</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" >Torpedoes</button> 
  </div>

  <div class="container">
    <button class="btn btn-danger" >Snowflake</button>
  </div>
  
  <div class="container">
    <button class="btn btn-danger" >5/6</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" >Tequilaaaa</button>
  </div>
  
  <div class="container">
    <button class="btn btn-danger" >Rules</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" >Gobshite</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" >Stupid Prick</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" >Only messing</button>  
  </div>

  <div class="container">
    <button class="btn btn-danger" >Oh no</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" >Its Happening Again</button>
  </div>
  
  <div class="container">
    <button class="btn btn-danger" >U N I T E D</button> 
  </div>

  <div class="container">
    <button class="btn btn-danger" >Weights</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" >You know what</button>
  </div>

  <div class="container">
    <button class="btn btn-danger" >Blind</button> 
  </div>

  <div class="container">
    <button class="btn btn-danger" >BOLGER.</button>
  </div>
 
  
</div>